
/*      SITES CSS         */
.siteCont{background: linear-gradient(to right, rgba(241,90,36,0),rgba(241,90,36,1), rgba(241,90,36,0)); width: 100%; margin: 50px auto; }

.siteWrap { width: 70%; margin: 0 auto; max-height: 400px; overflow: hidden; background-color: white;}


.iSiteCont { width: 49%; margin: 3px auto; display: inline-block; position: relative;
transform: skew(-30deg);
-ms-transform: skew(-30deg);
-webkit-transform: skew(-30deg);
background-color: white;
}

.iSiteWrap {width: 200%; margin: 0 auto;
  transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);}

.iSiteImgBox { margin: 0 auto; width: 50%; display: inline-block;  }
.iSiteSummary {display: inline-block; width: 50%}

.iSiteImg { margin: 0 auto; display: block; width: 70%; padding: 3%; }
.iSiteImg.Gathr {padding: 15.5% 0;}
.iSiteCont.Gathr {border-left: 10px solid black;}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .iSiteWrap {width: 100%;  display: inline-block;}
  .siteCont{width: 100%;}

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
