.seeMore{cursor: pointer; text-decoration: underline; color: blue; font-size: 75%;}

.containBars { margin: 30px; width: 300px; display: inline-block; height: 253px; overflow: hidden;}

.containBars:hover {
  transition: 1s;
  cursor: pointer;
}

.github-projects { width: 100%;}
a:-webkit-any-link {
  text-decoration: none;
}
.gitBtn-wrap { margin: 0 auto; max-width: 200px;}
.gitLink { width: 100%; height: 100%; color: white;}
.gitBtn { background-color: #24292e; border: none; color: white; font-weight: bold; font-size: 1.5em; padding: 10px 30px; cursor: pointer; text-decoration: none; display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center; margin: 0 auto; border-radius: 10px; box-shadow: 5px 5px 0px rgba(200,200,200,1); }
.gitBtn:hover { box-shadow: none; }
.gitImage { filter: invert(100%); width: 1.3em; align-self: center;}
span.gitBtn-text { padding-left: 10px; text-decoration: none;}
div.brandActive {
  background-color: rgba(204,85,0,.2); width: 100%; transition: .5s; margin: 20px auto; height: auto;
}

div.demoTextContain {
  height: 0;
}

div.brandActive div.demoTextContain {
  height: auto; transition: .5s;
}

p.demoText {
  padding: 0 20px;
}

.containBars:hover .topBar, .containBars:hover .bottomBar, .containBars:hover .topBar::before, .containBars:hover .topBar::after, .containBars:hover .bottomBar::before, .containBars:hover .bottomBar::after {background: rgb(137,216,245); transition: 1s;}

div.brandActive .topBar, div.brandActive .bottomBar, div.brandActive .topBar::before, div.brandActive .topBar::after, div.brandActive .bottomBar::before, div.brandActive .bottomBar::after  { background: white; filter: contrast(30%);}

div.brandActive .topBar, div.brandActive .bottomBar {
  width: 100%;
}

div.brandActive .topBar::after, div.brandActive .topBar::before, div.brandActive .bottomBar::after, div.brandActive .bottomBar::before {
  width: 1%;
}

.linked-sites a { font-weight: bold; font-size: 1.5em; text-decoration: none; }
.linked-sites { padding-bottom: 20px; }

.topBar, .bottomBar {
  background: black;
  height: 10px;
  position: relative;
  width: 100%;
  margin: 0px auto;
}
.topBar::after, .topBar::before, .bottomBar::after, .bottomBar::before {
  background: black;
  content: "";
  height: 35px;
  position: absolute;
  width: 4%;
}
.topBar::after {
  left: 0px;
  top: 0px;
}
.topBar::before {
  right: 0px;
  top: 0px;
}
.bottomBar::after {
  left: 0px;
  bottom: 0px;
}
.bottomBar::before {
  right: 0px;
  bottom: 0px;
}

.containBarContent {
  width: 100%;
  margin: 20px auto;
  z-index: 10;
  height: 193px;
  position: relative;
}

div.containBarContent img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containBarImage {
  z-index: 1000;
  max-width: 300px;
  max-height: 190px;
}



/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  div.brandActive .topBar::after, div.brandActive .topBar::before, div.brandActive .bottomBar::after, div.brandActive .bottomBar::before {
    width: 2.5%;
  }

}

@media (min-width:375px) {
  div.brandActive .topBar::after, div.brandActive .topBar::before, div.brandActive .bottomBar::after, div.brandActive .bottomBar::before {
    width: 2.3%;
  }
}

@media (min-width:425px) {
  div.brandActive .topBar::after, div.brandActive .topBar::before, div.brandActive .bottomBar::after, div.brandActive .bottomBar::before {
    width: 2%;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {

}

@media (min-width:700px) {

}

@media (min-width:768px) {
  div.brandActive .topBar::after, div.brandActive .topBar::before, div.brandActive .bottomBar::after, div.brandActive .bottomBar::before {
    width: 1%;
  }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {


}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}

/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
