/* about circles */
img.circleAnimate {opacity: 1; transition: .5s; }

img.circleAnimate:hover {opacity: 1; transition: .3s;
}

.circleInit { opacity: 0; width: 100%; }
.circleIcons::after { }

.circleCont {width: 100%; margin: 0 auto; display: inline-flex;}
.about-page {width: 30%; margin: 0; display: inline-flex; float: left;}
.about-page .titleBanner { display: none;}
.circleWrap { display: inline-block; margin: 0 auto;}
.circleIcons { border: 5px solid black; border-radius: 50%; width: 80%; margin: 0 auto;}
div.about-sections div.circleIcons {margin-bottom: 10px}
div.circleIcons:hover { filter: hue-rotate(360deg); transition: 5s;}
.circle-banner { width: inherit; }
.circle-banner {
  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}
.circleHead { z-index: 100; width: 100%; font-size: 1.0em; padding: 0; margin: 0;
  position: absolute; left: 50%; top: 47%; transform: translate(-50%, -50%);
}

div.titleBanner { position: relative; height: 50px; width: 100%;
  transform: translateY(-125%);
  -ms-transform: translateY(-125%);
  -webkit-transform: translateY(-125%);
}
/* about circles End */

#web-about-head, #mkt-about-head, #design-about-head {
  text-align: left; font-size: 24px;
}


 /* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  .circleWrap { width: 80%;}
  .circleHead { font-size: 1.1em;}

}

@media (min-width:375px) {
  .circleWrap { width: 80%;}
  .circleHead { font-size: 1.17em;}

}

@media (min-width:425px) {
  .circleHead { font-size: 1.3em;}

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
  .circleHead { font-size: 1.5em;}
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .circleWrap { width: 100%;}
  .circleIcons { border: 5px solid black; }
  .circleCont {width: 29%; margin: 0 10px;}
  .about-page {width: 29%;}
  .circleHead { font-size: .77em;
  }

  div.titleBanner {
    transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
  }
}
@media (min-width:700px) {
  .circleIcons { border: 6px solid black; }
  .circleCont {width: 30%; margin: 0 10px;}
  .about-page {width: 30%;}
  .circleHead { font-size: .9em;}
}
@media (min-width:768px) {
  .circleIcons { border: 7px solid black; }
  div.titleBanner {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
  .circleHead { font-size: 1.1em;}


}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .circleHead { font-size: 1.15rem;}

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .circleHead { font-size: 1.2rem;}

}
