
/* Fold */
.foldContain {overflow-y: hidden;}

.App-logo { cursor: pointer; float: left; left: -50%; position: relative; }
div.App-logo a img {box-shadow: 3px 3px 6px rgba(0,0,0,.3);}
.logo-container {float: left; left: 50%; position: relative; display: inline;}

.App-header { background-color: rgb(204,85,0); height: 160px; width: 100%; color: white; position: fixed; transition: background-color 1s; top: 0; z-index: 1000; }

header.postLogo { background-color: white;}

/* Hamburger Menu + Popup Menu */
header.backActive { background-color: lightGrey; transition: 1.5s; position: fixed;}

div img.backActive { background-color: rgba(0,0,0,0); position: relative; transition: 1.5s;}

.hamburger-white { cursor: pointer; position: absolute; right: 0; display: inline-block; width: 1.5em; height: 1em; margin-right: 2em; border-top: 0.3em solid white; border-bottom: 0.3em solid white; z-index: 1000; top: 60px}
.hamburger-white:before { content: ""; position: absolute; top: 0.3333em; left: 0px; width: 100%; border-top: 0.3em solid white; }
.hamburger-white.backActive { border-top: 0.3em solid white; border-bottom: 0.3em solid white; transition: .5s;}
.hamburger-white.backActive:before { border-top: 0.3em solid white; transition: .5s;}

#hamburger-white div.popStyle { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; background-color: rgba(0,0,0,.5); z-index: 100; }

.hamburger { cursor: pointer; position: absolute; right: 0; display: inline-block; width: 1.5em; height: 1em; margin-right: 2em; border-top: 0.3em solid black; border-bottom: 0.3em solid black; z-index: 1000; top: 60px}
.hamburger:before { content: ""; position: absolute; top: 0.3333em; left: 0px; width: 100%; border-top: 0.3em solid black; }
.hamburger.backActive { border-top: 0.3em solid black; border-bottom: 0.3em solid black; transition: .5s;}
.hamburger.backActive:before { border-top: 0.3em solid black; transition: .5s;}

#hamburger div.popStyle { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; background-color: rgba(0,0,0,.5); z-index: 100; }

div.close {display: none;}

.popStyle div.close {
    display: block;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    font-size: 33px;
    text-align: center;
}

a img.linkedInPop { display: none; filter: grayscale(100%); width: 50px; margin: 0px 49px;}
.popStyle a img.linkedInPop {display: inline-block;}
.popStyle a img.linkedInPop:hover {filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.7));}

.social-logos { width: 300px; margin: 0 auto;}

.direct-menu { width: 75%; margin: 5% auto; background-color: rgba(0,0,0,.75);border: 2px solid white;}
.popMenu { font-size: 1.5em; padding: 3% 0; text-align: center; text-decoration: none; color: white; border-top: 2px solid white; border-bottom: 2px solid white;}
.popMenu:hover { background-color: rgba(0,0,0,1); }
/* Hamburger Menu End */
/* Fold End */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
