.App { text-align: center; width: 100%; }


/* Fold */
.App-logo { margin: 0 auto; cursor: pointer; float: left; left: -50%; position: relative; }
.logo-container {float: left; left: 50%; position: relative; display: inline;}

.App-header { background-color: rgb(204,85,0); height: 160px; width: 100%; color: white; position: fixed; transition: background-color 1s; top: 0; z-index: 1000; }



/* Hamburger Menu + Popup Menu */
header.backActive { background-color: lightGrey; transition: 1.5s; position: fixed;}

div img.backActive { background-color: rgba(0,0,0,0); position: relative; transition: 1.5s;}

.hamburger { cursor: pointer; position: absolute; right: 0; display: inline-block; width: 1.5em; height: 1em; margin-right: 2em; border-top: 0.3em solid #fff; border-bottom: 0.3em solid #fff; z-index: 1000; top: 60px}


.hamburger:before { content: ""; position: absolute; top: 0.35em; left: 0px; width: 100%; border-top: 0.3em solid #fff; }

.hamburger.backActive { border-top: 0.3em solid black; border-bottom: 0.3em solid black; transition: .5s;}

.hamburger.backActive:before { border-top: 0.3em solid black; transition: .5s;}

#hamburger div.popStyle { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; background-color: rgba(0,0,0,.5); z-index: 100; }

.direct-menu { width: 75%; margin: 0 auto; }
.popMenu { font-size: 1.5em; padding: 3% 0; }
.popMenu:hover { background-color: rgba(0,0,0,.75); }
/* Hamburger Menu End */
/* Fold End */




/* Break Bar Lines */
.break-bar-outer { display: inline-flex; background-color: white; height: 10px; margin: 0 auto;}

.break-bar-inner { width: 100%; }

.contentBreak { margin: 0 auto;}
.starBreak {width: 40px; display: inline-flex;}
/* .starBreak:nth-child(2n+0) {float: right; } */
/* Break Bar Lines End */



/* about circles */
img.circleAnimate {opacity: 1;
  transform: translateY(5%);
  -ms-transform: translateY(5%);
  -webkit-transform: translateY(5%);
  transition: 1.5s;
}

img.circleAnimate:hover {opacity: 1;
  transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  -webkit-transform: rotateY(30deg);
  transition: .5s;
}

.circleInit { opacity: 0; width: 100%;
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
}
.circleIcons::after { overflow: none;}

.circleCont {width: 100%; margin: 0 auto; display: inline-flex;}
.circleWrap { display: inline-block; margin: 0 auto;}
.circleIcons { border: 5px solid black; border-radius: 50%; width: 80%; margin: 0 auto; overflow: hidden;}
div.circleIcons:hover { border: 10px solid #6DCFF6; transition: .5s;}

.beautiful {width: 100%; margin: 50px auto 0 auto; font-size: 2em; text-align: center;}
/* about circles End */

/*  Home View Titles */
.pageTitleWrap { margin: 0 auto; transform: translateY(0%); -ms-transform: translateY(0%); -webkit-transform: translateY(0%); width: 30%; padding: 4px; background-color: white; }

.pageTitle { margin: 0 auto; font-size: 1.5em; text-align: center; padding: 10px; border: 4px solid rgb(204,85,0); background-color: white; color: rgb(204,85,0); }

.imgFade { padding: 20px 0; height: 100%; width: 100%; background: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,0), rgba(255,255,255,1)); z-index: 25; }
/*  Home View Titles End */


/* About Home View */
.aboutWrap:hover { filter: hue-rotate(180deg); }
#aboutMouse { width: 100%; height: 100%; }
div.aboutWrap { width: 100%; background-image: url("./imgs/Chevron-lightblue.jpg"); background-repeat: repeat; background-size: 100%; height: 100%; margin: 0 auto; z-index: 100; cursor: pointer;}
/* About Home View End */


.contact-container { background-color: rgba(204,85,0,1); height: 600px;}
.contact-wrap { padding-top: 25px;}
.contact-wrap div { margin: 0 auto; width: 30%; padding: 4px; background-color: rgba(204,85,0,1); }

.contact-wrap div h3 { margin: 0 auto; font-size: 1.5em; text-align: center; padding: 10px; border: 4px solid white; color: white; background-color: rgba(204,85,0,1) }

.page-content-wrap { font-size: 2em; font-weight: bolder; margin: 0; height: 100%; overflow: hidden; }

#hello { background-color: pink; height: 100%; position: fixed; top: 100px; z-index: 50; -webkit-transition: height 1s; transition: height 2s; }

.miCapLogo { max-width: 300px;}

.copy-right { font-size: 10px; background-color: rgba(204,85,0,1); text-align: center; color: white; padding: 1% 0;}

.hide { display: none; }




.contentContainer { width: 100%; margin: 0 auto; text-align: center;}

.contentWrap { width: 95%; margin: 0 auto; }
 /* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  .contentWrap { width: 95%;}
  .circleWrap { width: 50%;}
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
  .contentWrap { width: 90%;}
  .circleWrap { width: 40%;}
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .contentWrap { width: 85%;}
  .circleCont {width: 30%;}
  .circleWrap { width: 100%;}
  .circleIcons { border: 10px solid black; }

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
  .contentWrap { width: 80%; }


}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .contentWrap { width: 75%; }

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .contentWrap { width: 70%; }
}





/*      SITES CSS         */
.siteCont{background: linear-gradient(to right, rgba(241,90,36,0),rgba(241,90,36,1), rgba(241,90,36,0)); width: 100%; margin: 50px auto; }

.siteWrap { width: 70%; margin: 0 auto;}


.iSiteCont { width: 100%; margin: 0 auto; display: inline-flex; }

.iSiteWrap {width: 100%; margin: 0 auto;}


.iSiteImgBox { margin: 0 auto; width: 100%; overflow: hidden; background-color: white; }

.iSiteImg { margin: 0 auto; display: block; width: 70%; padding: 3%; }
.Gathr {padding: 15.5% 0;}

/* .iSiteTextWrap { display: inline-flex; width: 20%;} */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .iSiteWrap {width: 100%;  display: inline-block;}

  .iSiteCont { width: 49%; margin: 3px 1px;}
  .siteCont{width: 100%;}

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
